@import '../../css/variables';

.OnRace {
   height: 60px;
   th {
      border: none;
      img {
         height: 40px;
         width: 60px;
         transform: scaleX(-1);
      }
      .rankSpan {
         padding: 5px 9px;
         border-radius: 5px;
      }
   }
}