@import '../../css/variables';

.allScale {
   margin: 25px 0 100px 0;
   .scalePart {
      width: 1000px;
      margin: 0 auto;
   }
}

.wrapSpeedLimits {
   padding: 0;
   .SpeedLimits{
      margin-bottom: 10%;
      overflow: hidden;
   }   
}

.table {
   position: relative;
}

.speedSign {
   position: absolute;
   height: 60px;
   width: 60px;
   border-radius: 50%;
   background-color: $main-color;
   color: $light-color;
   font-size: 20px;
}