@import '../../css/variables';

.allScale {
   margin: 25px 0 180px 0;
   .scalePart {
      width: 1000px;
      margin: 0 auto;
   }
   .scaleHeading {
      background-color: darken($light-color, 5%);
   }
   .scaleHeading th {
      border: none;
      border-bottom: 1px solid $main-color;
   }
   .thText {
      margin-left: -25px;
   }
}

.wrapSpeedLimits {
   padding: 0;
   .SpeedLimits{
      margin-bottom: 10%;
      overflow: hidden;
   }   
}

.table {
   position: relative;
}

.speedSign {
   position: absolute;
   height: 60px;
   width: 60px;
   border-radius: 50%;
   background-color: $main-color;
   color: $light-color;
   font-size: 20px;
}

.thCarWrap {
   border-bottom: none
}