@import '../../css/variables';

.CarsBoxes {
   .SingleBox {
      border-right: 2px solid black;
      border-bottom: 2px solid black;
      .wrapSingle {
         text-align: center;
      }
   }
   .SingleBox:nth-child(3n)  {
      border-right: none;
   }
   .SingleBox:nth-child(4n), .SingleBox:nth-child(5n) {
      border-bottom: none
   }
   img {
      width: 100%;
   }
}