body {
   font-family: $sans-serif;
   background-color: $light-color;
   // footer fixes
   min-height: 100vh;
   position: relative;
   margin: 0;
   // --- START Typography ---
   h2, h4 {
      font-weight: 700;
      font-family: $cursive;
      color: $main-color;
   }
   // --- END Typography ---
   .mainContainer {
      padding: 5%;
   }
   // centering class
   .aligner {
      display: flex;
      align-items: center;
      justify-content: center;
   }
   // --- START Buttons ---
   .btn {
      cursor: pointer;
   }
   .raceButtons input, .raceButtons button {
      margin: 100px 20px 0 20px;
      width: 100px;
   }
   .startBtn {
      background-color: $main-color;
      color: $light-color;
   }
   .startBtn:hover {
      transition: all 0.5s linear;
      background-color: darken($main-color, 10%)
   }
   // --- END Buttons ---
}