// Colors
$main-color: #132c63;
$light-color: #ecf0f1;
$dark-color: #464646;

// fonts
$cursive: 'Playfair Display', serif;
$sans-serif: 'Lato', sans-serif;

// Header Image
$header-img: "https://user-images.githubusercontent.com/21371592/32102066-0a55870e-bb1b-11e7-854a-bd41f46a3e27.jpg";