@import '../../css/variables';

.Footer {
   text-align: center;
   background-color: $dark-color; 
   color: $light-color;
   // positioning
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   p {
      margin-top: 1rem;
   }
   a {
      color: $light-color;
   }
}